.Fee {
    margin-left: 30px;

}

.fees {
    font-size: 24px;
    font-weight: bold;
    margin-top: 70px;
    letter-spacing: 1px;
}

.payment {
    font-size: 18px;
}

.method {
    font-size: 21px;
    margin-top: 60px;
    font-weight: 600;
}

.operating {
    display: flex;
    gap: 230px;
}

.webs {
    font-size: 19px;
    margin-top: 17px;
}

.buttons {
    margin-top: 60px;
}

.off {
    width: 120px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(170, 170, 211);
    border: none;
}

.off:hover {
    background-color: rgb(206, 206, 246);
}

.open {
    width: 170px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    margin-left: 700px;
    background-color: #18BD5B;
    border: none;
}
.open:hover {
    background-color: #269c55;
}